In [1]:
import os
import pandas as pd
import zipfile
import re

In [2]:
verses_path = r'..\Datasets\VBV'
ayat_path = r'..\Datasets\Ayat'

In [3]:
directory = os.fsencode(verses_path)

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    print(filename)

AbdulBasit_Abdessamad@Mujawwad.zip
AbdulBasit_Abdessamad@Murattal.zip
Abdullaah_AlJuhaynee@128kbps.zip
Abdullah_Matroud@128kbps.zip
Abdurrahman_AsSudais@prayer.zip
Ahmed_AlAjamy@128kbps.zip
Ahmed_Neana@Murattal.zip
Akram_AlAlaqimy@128kbps.zip
Ali_Hajjaj_AlSuesy@128kbps.zip
Aziz_Alili@128kbps.zip
Mahmoud_AlHusary@Murattal.zip
Mohammad_AlMinshawy@Murattal.zip
Muhammad_AlTablaway@Mujawwad.zip
Muhammad_Ayyoob@Murattal.zip
Muhsin_AlQasim@192kbps.zip
Nasser_Alqatami@128kbps.zip
Output
Salaah_Bukhatir@128kbps.zip
Salah_AlBudair@128kbps.zip
Saud_AshShuraym@prayer.zip
Yasser_AdDussary@128kbps.zip

In [4]:
archive = zipfile.ZipFile(
    os.path.join(verses_path, 'AbdulBasit_Abdessamad@Mujawwad.zip'), 'r')

In [5]:
archive.filelist

[<ZipInfo filename='114.txt' compress_type=deflate external_attr=0x20 file_size=48 compress_size=42>,
 <ZipInfo filename='001.txt' compress_type=deflate external_attr=0x20 file_size=55 compress_size=46>,
 <ZipInfo filename='002.txt' compress_type=deflate external_attr=0x20 file_size=2628 compress_size=1203>,
 <ZipInfo filename='003.txt' compress_type=deflate external_attr=0x20 file_size=1781 compress_size=825>,
 <ZipInfo filename='004.txt' compress_type=deflate external_attr=0x20 file_size=1578 compress_size=730>,
 <ZipInfo filename='005.txt' compress_type=deflate external_attr=0x20 file_size=1075 compress_size=506>,
 <ZipInfo filename='006.txt' compress_type=deflate external_attr=0x20 file_size=1465 compress_size=686>,
 <ZipInfo filename='007.txt' compress_type=deflate external_attr=0x20 file_size=1831 compress_size=861>,
 <ZipInfo filename='008.txt' compress_type=deflate external_attr=0x20 file_size=656 compress_size=307>,
 <ZipInfo filename='009.txt' compress_type=deflate external_attr=0x20 file_size=1139 compress_size=531>,
 <ZipInfo filename='010.txt' compress_type=deflate external_attr=0x20 file_size=966 compress_size=437>,
 <ZipInfo filename='011.txt' compress_type=deflate external_attr=0x20 file_size=1091 compress_size=498>,
 <ZipInfo filename='012.txt' compress_type=deflate external_attr=0x20 file_size=978 compress_size=451>,
 <ZipInfo filename='013.txt' compress_type=deflate external_attr=0x20 file_size=376 compress_size=184>,
 <ZipInfo filename='014.txt' compress_type=deflate external_attr=0x20 file_size=453 compress_size=216>,
 <ZipInfo filename='015.txt' compress_type=deflate external_attr=0x20 file_size=851 compress_size=383>,
 <ZipInfo filename='016.txt' compress_type=deflate external_attr=0x20 file_size=1130 compress_size=525>,
 <ZipInfo filename='017.txt' compress_type=deflate external_attr=0x20 file_size=981 compress_size=452>,
 <ZipInfo filename='018.txt' compress_type=deflate external_attr=0x20 file_size=972 compress_size=445>,
 <ZipInfo filename='019.txt' compress_type=deflate external_attr=0x20 file_size=847 compress_size=394>,
 <ZipInfo filename='020.txt' compress_type=deflate external_attr=0x20 file_size=1167 compress_size=536>,
 <ZipInfo filename='021.txt' compress_type=deflate external_attr=0x20 file_size=979 compress_size=463>,
 <ZipInfo filename='022.txt' compress_type=deflate external_attr=0x20 file_size=689 compress_size=318>,
 <ZipInfo filename='023.txt' compress_type=deflate external_attr=0x20 file_size=1029 compress_size=476>,
 <ZipInfo filename='024.txt' compress_type=deflate external_attr=0x20 file_size=559 compress_size=267>,
 <ZipInfo filename='025.txt' compress_type=deflate external_attr=0x20 file_size=670 compress_size=307>,
 <ZipInfo filename='026.txt' compress_type=deflate external_attr=0x20 file_size=2000 compress_size=927>,
 <ZipInfo filename='027.txt' compress_type=deflate external_attr=0x20 file_size=811 compress_size=384>,
 <ZipInfo filename='028.txt' compress_type=deflate external_attr=0x20 file_size=774 compress_size=369>,
 <ZipInfo filename='029.txt' compress_type=deflate external_attr=0x20 file_size=600 compress_size=286>,
 <ZipInfo filename='030.txt' compress_type=deflate external_attr=0x20 file_size=515 compress_size=247>,
 <ZipInfo filename='031.txt' compress_type=deflate external_attr=0x20 file_size=282 compress_size=148>,
 <ZipInfo filename='032.txt' compress_type=deflate external_attr=0x20 file_size=243 compress_size=129>,
 <ZipInfo filename='033.txt' compress_type=deflate external_attr=0x20 file_size=641 compress_size=302>,
 <ZipInfo filename='034.txt' compress_type=deflate external_attr=0x20 file_size=468 compress_size=228>,
 <ZipInfo filename='035.txt' compress_type=deflate external_attr=0x20 file_size=390 compress_size=195>,
 <ZipInfo filename='036.txt' compress_type=deflate external_attr=0x20 file_size=708 compress_size=335>,
 <ZipInfo filename='037.txt' compress_type=deflate external_attr=0x20 file_size=1582 compress_size=718>,
 <ZipInfo filename='038.txt' compress_type=deflate external_attr=0x20 file_size=764 compress_size=356>,
 <ZipInfo filename='039.txt' compress_type=deflate external_attr=0x20 file_size=659 compress_size=312>,
 <ZipInfo filename='040.txt' compress_type=deflate external_attr=0x20 file_size=743 compress_size=347>,
 <ZipInfo filename='041.txt' compress_type=deflate external_attr=0x20 file_size=465 compress_size=226>,
 <ZipInfo filename='042.txt' compress_type=deflate external_attr=0x20 file_size=458 compress_size=222>,
 <ZipInfo filename='043.txt' compress_type=deflate external_attr=0x20 file_size=768 compress_size=359>,
 <ZipInfo filename='044.txt' compress_type=deflate external_attr=0x20 file_size=481 compress_size=233>,
 <ZipInfo filename='045.txt' compress_type=deflate external_attr=0x20 file_size=310 compress_size=155>,
 <ZipInfo filename='046.txt' compress_type=deflate external_attr=0x20 file_size=299 compress_size=151>,
 <ZipInfo filename='047.txt' compress_type=deflate external_attr=0x20 file_size=324 compress_size=166>,
 <ZipInfo filename='048.txt' compress_type=deflate external_attr=0x20 file_size=244 compress_size=129>,
 <ZipInfo filename='049.txt' compress_type=deflate external_attr=0x20 file_size=152 compress_size=87>,
 <ZipInfo filename='050.txt' compress_type=deflate external_attr=0x20 file_size=366 compress_size=179>,
 <ZipInfo filename='051.txt' compress_type=deflate external_attr=0x20 file_size=482 compress_size=238>,
 <ZipInfo filename='052.txt' compress_type=deflate external_attr=0x20 file_size=389 compress_size=194>,
 <ZipInfo filename='053.txt' compress_type=deflate external_attr=0x20 file_size=496 compress_size=233>,
 <ZipInfo filename='054.txt' compress_type=deflate external_attr=0x20 file_size=444 compress_size=219>,
 <ZipInfo filename='055.txt' compress_type=deflate external_attr=0x20 file_size=641 compress_size=299>,
 <ZipInfo filename='056.txt' compress_type=deflate external_attr=0x20 file_size=782 compress_size=367>,
 <ZipInfo filename='057.txt' compress_type=deflate external_attr=0x20 file_size=245 compress_size=129>,
 <ZipInfo filename='058.txt' compress_type=deflate external_attr=0x20 file_size=190 compress_size=107>,
 <ZipInfo filename='059.txt' compress_type=deflate external_attr=0x20 file_size=206 compress_size=113>,
 <ZipInfo filename='060.txt' compress_type=deflate external_attr=0x20 file_size=112 compress_size=70>,
 <ZipInfo filename='061.txt' compress_type=deflate external_attr=0x20 file_size=115 compress_size=72>,
 <ZipInfo filename='062.txt' compress_type=deflate external_attr=0x20 file_size=93 compress_size=61>,
 <ZipInfo filename='063.txt' compress_type=deflate external_attr=0x20 file_size=93 compress_size=61>,
 <ZipInfo filename='064.txt' compress_type=deflate external_attr=0x20 file_size=148 compress_size=86>,
 <ZipInfo filename='065.txt' compress_type=deflate external_attr=0x20 file_size=102 compress_size=64>,
 <ZipInfo filename='066.txt' compress_type=deflate external_attr=0x20 file_size=100 compress_size=66>,
 <ZipInfo filename='067.txt' compress_type=deflate external_attr=0x20 file_size=243 compress_size=130>,
 <ZipInfo filename='068.txt' compress_type=deflate external_attr=0x20 file_size=416 compress_size=208>,
 <ZipInfo filename='069.txt' compress_type=deflate external_attr=0x20 file_size=416 compress_size=202>,
 <ZipInfo filename='070.txt' compress_type=deflate external_attr=0x20 file_size=350 compress_size=182>,
 <ZipInfo filename='071.txt' compress_type=deflate external_attr=0x20 file_size=227 compress_size=121>,
 <ZipInfo filename='072.txt' compress_type=deflate external_attr=0x20 file_size=226 compress_size=121>,
 <ZipInfo filename='073.txt' compress_type=deflate external_attr=0x20 file_size=160 compress_size=91>,
 <ZipInfo filename='074.txt' compress_type=deflate external_attr=0x20 file_size=442 compress_size=212>,
 <ZipInfo filename='075.txt' compress_type=deflate external_attr=0x20 file_size=318 compress_size=161>,
 <ZipInfo filename='076.txt' compress_type=deflate external_attr=0x20 file_size=251 compress_size=129>,
 <ZipInfo filename='077.txt' compress_type=deflate external_attr=0x20 file_size=394 compress_size=192>,
 <ZipInfo filename='078.txt' compress_type=deflate external_attr=0x20 file_size=317 compress_size=159>,
 <ZipInfo filename='079.txt' compress_type=deflate external_attr=0x20 file_size=364 compress_size=178>,
 <ZipInfo filename='080.txt' compress_type=deflate external_attr=0x20 file_size=332 compress_size=168>,
 <ZipInfo filename='081.txt' compress_type=deflate external_attr=0x20 file_size=227 compress_size=115>,
 <ZipInfo filename='082.txt' compress_type=deflate external_attr=0x20 file_size=151 compress_size=89>,
 <ZipInfo filename='083.txt' compress_type=deflate external_attr=0x20 file_size=288 compress_size=148>,
 <ZipInfo filename='084.txt' compress_type=deflate external_attr=0x20 file_size=199 compress_size=108>,
 <ZipInfo filename='085.txt' compress_type=deflate external_attr=0x20 file_size=176 compress_size=100>,
 <ZipInfo filename='086.txt' compress_type=deflate external_attr=0x20 file_size=135 compress_size=80>,
 <ZipInfo filename='087.txt' compress_type=deflate external_attr=0x20 file_size=152 compress_size=87>,
 <ZipInfo filename='088.txt' compress_type=deflate external_attr=0x20 file_size=209 compress_size=113>,
 <ZipInfo filename='089.txt' compress_type=deflate external_attr=0x20 file_size=238 compress_size=124>,
 <ZipInfo filename='090.txt' compress_type=deflate external_attr=0x20 file_size=159 compress_size=91>,
 <ZipInfo filename='091.txt' compress_type=deflate external_attr=0x20 file_size=119 compress_size=75>,
 <ZipInfo filename='092.txt' compress_type=deflate external_attr=0x20 file_size=165 compress_size=92>,
 <ZipInfo filename='093.txt' compress_type=deflate external_attr=0x20 file_size=87 compress_size=61>,
 <ZipInfo filename='094.txt' compress_type=deflate external_attr=0x20 file_size=62 compress_size=49>,
 <ZipInfo filename='095.txt' compress_type=deflate external_attr=0x20 file_size=63 compress_size=50>,
 <ZipInfo filename='096.txt' compress_type=deflate external_attr=0x20 file_size=149 compress_size=87>,
 <ZipInfo filename='097.txt' compress_type=deflate external_attr=0x20 file_size=41 compress_size=39>,
 <ZipInfo filename='098.txt' compress_type=deflate external_attr=0x20 file_size=66 compress_size=51>,
 <ZipInfo filename='099.txt' compress_type=deflate external_attr=0x20 file_size=64 compress_size=51>,
 <ZipInfo filename='100.txt' compress_type=deflate external_attr=0x20 file_size=86 compress_size=60>,
 <ZipInfo filename='101.txt' compress_type=deflate external_attr=0x20 file_size=86 compress_size=61>,
 <ZipInfo filename='102.txt' compress_type=deflate external_attr=0x20 file_size=63 compress_size=51>,
 <ZipInfo filename='103.txt' external_attr=0x20 file_size=27>,
 <ZipInfo filename='104.txt' compress_type=deflate external_attr=0x20 file_size=69 compress_size=52>,
 <ZipInfo filename='105.txt' compress_type=deflate external_attr=0x20 file_size=41 compress_size=37>,
 <ZipInfo filename='106.txt' compress_type=deflate external_attr=0x20 file_size=34 compress_size=32>,
 <ZipInfo filename='107.txt' compress_type=deflate external_attr=0x20 file_size=57 compress_size=46>,
 <ZipInfo filename='108.txt' external_attr=0x20 file_size=27>,
 <ZipInfo filename='109.txt' compress_type=deflate external_attr=0x20 file_size=48 compress_size=42>,
 <ZipInfo filename='110.txt' external_attr=0x20 file_size=27>,
 <ZipInfo filename='111.txt' compress_type=deflate external_attr=0x20 file_size=41 compress_size=38>,
 <ZipInfo filename='112.txt' compress_type=deflate external_attr=0x20 file_size=34 compress_size=33>,
 <ZipInfo filename='113.txt' compress_type=deflate external_attr=0x20 file_size=42 compress_size=38>,
 <ZipInfo filename='source.TXT' compress_type=deflate external_attr=0x20 file_size=91 compress_size=82>,
 <ZipInfo filename='000_disclaimer.txt' compress_type=deflate external_attr=0x20 file_size=361 compress_size=250>]

In [6]:
print([_ for _ in archive.namelist() if len(_)==7])

['114.txt', '001.txt', '002.txt', '003.txt', '004.txt', '005.txt', '006.txt', '007.txt', '008.txt', '009.txt', '010.txt', '011.txt', '012.txt', '013.txt', '014.txt', '015.txt', '016.txt', '017.txt', '018.txt', '019.txt', '020.txt', '021.txt', '022.txt', '023.txt', '024.txt', '025.txt', '026.txt', '027.txt', '028.txt', '029.txt', '030.txt', '031.txt', '032.txt', '033.txt', '034.txt', '035.txt', '036.txt', '037.txt', '038.txt', '039.txt', '040.txt', '041.txt', '042.txt', '043.txt', '044.txt', '045.txt', '046.txt', '047.txt', '048.txt', '049.txt', '050.txt', '051.txt', '052.txt', '053.txt', '054.txt', '055.txt', '056.txt', '057.txt', '058.txt', '059.txt', '060.txt', '061.txt', '062.txt', '063.txt', '064.txt', '065.txt', '066.txt', '067.txt', '068.txt', '069.txt', '070.txt', '071.txt', '072.txt', '073.txt', '074.txt', '075.txt', '076.txt', '077.txt', '078.txt', '079.txt', '080.txt', '081.txt', '082.txt', '083.txt', '084.txt', '085.txt', '086.txt', '087.txt', '088.txt', '089.txt', '090.txt', '091.txt', '092.txt', '093.txt', '094.txt', '095.txt', '096.txt', '097.txt', '098.txt', '099.txt', '100.txt', '101.txt', '102.txt', '103.txt', '104.txt', '105.txt', '106.txt', '107.txt', '108.txt', '109.txt', '110.txt', '111.txt', '112.txt', '113.txt']

In [7]:
test = pd.read_csv(archive.open('001.txt'), header=None, dtype=int)
test

       0
0   6064
1  14816
2  28442
3  37567
4  46379
5  59377
6  70255
7  97752

In [8]:
diff_time = test.diff()
diff_time

         0
0      NaN
1   8752.0
2  13626.0
3   9125.0
4   8812.0
5  12998.0
6  10878.0
7  27497.0

In [9]:
test.iloc[0,0], diff_time.iloc[0,0]

(6064, nan)

In [10]:
diff_time.iloc[0,0] = test.iloc[0,0]
diff_time=diff_time.astype(int)
diff_time

       0
0   6064
1   8752
2  13626
3   9125
4   8812
5  12998
6  10878
7  27497

In [11]:
diff_time['sura_num']=1
diff_time

       0  sura_num
0   6064         1
1   8752         1
2  13626         1
3   9125         1
4   8812         1
5  12998         1
6  10878         1
7  27497         1

In [12]:
diff_time.reset_index(inplace=True)
# diff_time.rename(columns={
#     0: 'duration',
#     'index': 'aya_num'
# },inplace=True)
diff_time

   index      0  sura_num
0      0   6064         1
1      1   8752         1
2      2  13626         1
3      3   9125         1
4      4   8812         1
5      5  12998         1
6      6  10878         1
7      7  27497         1

In [13]:
diff_time.rename(columns={
    0: 'duration',
    'index': 'aya_num'
},inplace=True)
diff_time

   aya_num  duration  sura_num
0        0      6064         1
1        1      8752         1
2        2     13626         1
3        3      9125         1
4        4      8812         1
5        5     12998         1
6        6     10878         1
7        7     27497         1

In [14]:
diff_time.aya_num.apply(lambda x:x+1)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: aya_num, dtype: int64

In [15]:
diff_time.shape

(8, 3)

In [16]:
# To fix excess aya (al-isti'atha) before fatiha
if diff_time.shape[0]==7:
    diff_time.aya_num=diff_time.aya_num.apply(lambda x:x+1)

In [17]:
suras_ayat={
    1:7, 2:286, 3:200, 4:176, 5:120, 6:165, 7:206, 8:75, 9:129, 10:109, 
    11:123, 12:111, 13:43, 14:52, 15:99, 16:128, 17:111, 18:110, 19:98, 
    20:135, 21:112, 22:78, 23:118, 24:64, 25:77, 26:227, 27:93, 28:88, 
    29:69, 30:60, 31:34, 32:30, 33:73, 34:54, 35:45, 36:83, 37:182, 
    38:88, 39:75, 40:85, 41:54, 42:53, 43:89, 44:59, 45:37, 46:35, 
    47:38, 48:29, 49:18, 50:45, 51:60, 52:49, 53:62, 54:55, 55:78, 
    56:96, 57:29, 58:22, 59:24, 60:13, 61:14, 62:11, 63:11, 64:18, 
    65:12, 66:12, 67:30, 68:52, 69:52, 70:44, 71:28, 72:28, 73:20, 
    74:56, 75:40, 76:31, 77:50, 78:40, 79:46, 80:42, 81:29, 82:19, 
    83:36, 84:25, 85:22, 86:17, 87:19, 88:26, 89:30, 90:20, 91:15, 
    92:21, 93:11, 94:8, 95:8, 96:19, 97:5, 98:8, 99:8, 100:11, 101:11, 
    102:8, 103:3, 104:9, 105:5, 106:4, 107:7, 108:3, 109:6, 110:3, 
    111:5, 112:4, 113:5, 114:6,}

In [18]:
def get_ayat_durations(filename, sura_num, sura_max):
    # test = pd.read_csv(archive.open('001.txt'), header=None, dtype=int)
    test = pd.read_csv(filename, header=None, dtype=int)
    diff_time = test.diff()
    diff_time.iloc[0,0] = test.iloc[0,0]
    diff_time=diff_time.astype(int)
    diff_time['sura_num']=sura_num
    diff_time.reset_index(inplace=True)
    diff_time.rename(columns={
        0: 'duration',
        'index': 'aya_num'
    },inplace=True)
    # To fix excess aya (al-isti'atha) before fatiha
    if diff_time.shape[0]==sura_max:
        diff_time.aya_num=diff_time.aya_num.apply(lambda x:x+1)
    return diff_time[['sura_num', 'aya_num', 'duration']]

In [19]:
get_ayat_durations(archive.open('114.txt'), 114, 6)

   sura_num  aya_num  duration
0       114        0      9256
1       114        1     10126
2       114        2      8126
3       114        3      7688
4       114        4     13437
5       114        5     13623
6       114        6      9126

In [20]:
all_suras = []
for sura_index in range(1,115):
    filename = archive.open(f'{sura_index:003d}.txt')
    sura_max = suras_ayat[sura_index]
    all_suras.append(get_ayat_durations(filename, sura_index, sura_max))

In [21]:
telawa = pd.concat(all_suras)
telawa

    sura_num  aya_num  duration
0          1        0      6064
1          1        1      8752
2          1        2     13626
3          1        3      9125
4          1        4      8812
..       ...      ...       ...
2        114        2      8126
3        114        3      7688
4        114        4     13437
5        114        5     13623
6        114        6      9126

[6349 rows x 3 columns]

In [22]:
telawa_name='AbdulBasit_Abdessamad@Mujawwad.zip'
qari, telawa_type = telawa_name[:-4].split('@')
qari, telawa_type

('AbdulBasit_Abdessamad', 'Mujawwad')

In [23]:
if telawa_type not in ('Mujawwad', 'Murattal'):
    telawa_type='Salat'
telawa.insert(0, 'qari',qari)
telawa

                     qari  sura_num  aya_num  duration
0   AbdulBasit_Abdessamad         1        0      6064
1   AbdulBasit_Abdessamad         1        1      8752
2   AbdulBasit_Abdessamad         1        2     13626
3   AbdulBasit_Abdessamad         1        3      9125
4   AbdulBasit_Abdessamad         1        4      8812
..                    ...       ...      ...       ...
2   AbdulBasit_Abdessamad       114        2      8126
3   AbdulBasit_Abdessamad       114        3      7688
4   AbdulBasit_Abdessamad       114        4     13437
5   AbdulBasit_Abdessamad       114        5     13623
6   AbdulBasit_Abdessamad       114        6      9126

[6349 rows x 4 columns]

In [24]:
telawa.insert(1, 'tarika',telawa_type)
telawa

                     qari    tarika  sura_num  aya_num  duration
0   AbdulBasit_Abdessamad  Mujawwad         1        0      6064
1   AbdulBasit_Abdessamad  Mujawwad         1        1      8752
2   AbdulBasit_Abdessamad  Mujawwad         1        2     13626
3   AbdulBasit_Abdessamad  Mujawwad         1        3      9125
4   AbdulBasit_Abdessamad  Mujawwad         1        4      8812
..                    ...       ...       ...      ...       ...
2   AbdulBasit_Abdessamad  Mujawwad       114        2      8126
3   AbdulBasit_Abdessamad  Mujawwad       114        3      7688
4   AbdulBasit_Abdessamad  Mujawwad       114        4     13437
5   AbdulBasit_Abdessamad  Mujawwad       114        5     13623
6   AbdulBasit_Abdessamad  Mujawwad       114        6      9126

[6349 rows x 5 columns]

In [25]:
fname = 'sura079.txt'
int(re.findall(r'\d{3}', fname)[0])

79

In [26]:
mushaf_dict = {'Mujawwad': 'Mjwd', 'Murattal': 'Mrtl', 'Salat': 'Slah'}


def get_telawa_duration(verses_path, telawa_zip_name, suras_ayat):
    # telawa_zip_name='Abdul_Basit@Mujawwad.zip'
    archive = zipfile.ZipFile(os.path.join(verses_path, telawa_zip_name), 'r')

    all_suras = []
    # to fix capitalization in filenames
    # some files written as 054.TXT, or 054.txt, or 054.Txt
    # so it is better to read them as is
    filenames = [_ for _ in archive.namelist() if len(_) == 7]
    #for sura_index in range(1, 115):
    for fname in filenames:
        sura_index = int(re.findall(r'\d{3}', fname)[0])
        #filename = archive.open(f'{sura_index:003d}.txt')
        #filename = archive.open(f'{filenames[sura_index-1]}')
        filename = archive.open(fname)
        sura_max = suras_ayat[sura_index]
        all_suras.append(get_ayat_durations(filename, sura_index, sura_max))

    telawa = pd.concat(all_suras)
    telawa_name = telawa_zip_name
    qari, telawa_type = telawa_name[:-4].split('@')
    if telawa_type not in ('Mujawwad', 'Murattal'):
        telawa_type = 'Salat'

    telawa.insert(0, 'qari_name', qari)
    telawa.insert(1, 'mushaf', telawa_type)
    telawa_mix = f"{qari.split('_')[1]}_{mushaf_dict[telawa_type]}"
    telawa.insert(2, 'telawa', telawa_mix)
    return telawa

In [27]:
get_telawa_duration(verses_path, 'AbdulBasit_Abdessamad@Mujawwad.zip', suras_ayat).head(18)

,qari_name,mushaf,telawa,sura_num,aya_num,duration
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,0,9256
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,1,10126
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,2,8126
3,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,3,7688
4,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,4,13437
5,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,5,13623
6,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,6,9126
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,0,6064
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,1,8752
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,2,13626
3,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,3,9125
4,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,4,8812
5,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,5,12998
6,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,6,10878
7,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,7,27497
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,2,0,6318
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,2,1,10300
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,2,2,19358

In [28]:
directory = os.fsencode(verses_path)
all_telawat = []
for file in os.listdir(directory):
    telawa_zip_name = os.fsdecode(file)
    if telawa_zip_name[-4:].lower()=='.zip':
        current_telawa = get_telawa_duration(verses_path, telawa_zip_name,
                                             suras_ayat)
        all_telawat.append(current_telawa)
        print('* Done for:', telawa_zip_name)
#     else:
#         print('* ERROR with:', telawa_zip_name)
    
final_dataset = pd.concat(all_telawat)
print('*All done for now*')
final_dataset

* Done for: AbdulBasit_Abdessamad@Mujawwad.zip
* Done for: AbdulBasit_Abdessamad@Murattal.zip
* Done for: Abdullaah_AlJuhaynee@128kbps.zip
* Done for: Abdullah_Matroud@128kbps.zip
* Done for: Abdurrahman_AsSudais@prayer.zip
* Done for: Ahmed_AlAjamy@128kbps.zip
* Done for: Ahmed_Neana@Murattal.zip
* Done for: Akram_AlAlaqimy@128kbps.zip
* Done for: Ali_Hajjaj_AlSuesy@128kbps.zip
* Done for: Aziz_Alili@128kbps.zip
* Done for: Mahmoud_AlHusary@Murattal.zip
* Done for: Mohammad_AlMinshawy@Murattal.zip
* Done for: Muhammad_AlTablaway@Mujawwad.zip
* Done for: Muhammad_Ayyoob@Murattal.zip
* Done for: Muhsin_AlQasim@192kbps.zip
* Done for: Nasser_Alqatami@128kbps.zip
* Done for: Salaah_Bukhatir@128kbps.zip
* Done for: Salah_AlBudair@128kbps.zip
* Done for: Saud_AshShuraym@prayer.zip
* Done for: Yasser_AdDussary@128kbps.zip
*All done for now*

,qari_name,mushaf,telawa,sura_num,aya_num,duration
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,0,9256
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,1,10126
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,2,8126
3,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,3,7688
4,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,4,13437
...,...,...,...,...,...,...
2,Yasser_AdDussary,Salat,AdDussary_Slah,1,3,7059
3,Yasser_AdDussary,Salat,AdDussary_Slah,1,4,6259
4,Yasser_AdDussary,Salat,AdDussary_Slah,1,5,6826
5,Yasser_AdDussary,Salat,AdDussary_Slah,1,6,2736
6,Yasser_AdDussary,Salat,AdDussary_Slah,1,7,14832

In [29]:
final_dataset.to_csv(os.path.join(verses_path, 'Output', 'telawas_durations.CSV'),
                     index=False)

# Some Analyses

In [30]:
print(list(final_dataset))
final_dataset.head()

['qari_name', 'mushaf', 'telawa', 'sura_num', 'aya_num', 'duration']

,qari_name,mushaf,telawa,sura_num,aya_num,duration
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,0,9256
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,1,10126
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,2,8126
3,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,3,7688
4,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,4,13437

In [31]:
medium_durations = final_dataset.groupby(
    ['mushaf', 'qari_name'],
    as_index=False)['duration'].mean().sort_values(by=['duration'])

medium_durations

      mushaf              qari_name      duration
18     Salat        Saud_AshShuraym  10338.530217
7      Salat   Abdullaah_AlJuhaynee  11557.633223
14     Salat         Muhsin_AlQasim  11723.616345
17     Salat         Salah_AlBudair  11884.885827
9      Salat   Abdurrahman_AsSudais  11979.044416
16     Salat        Salaah_Bukhatir  13412.560436
13     Salat             Aziz_Alili  14527.287874
19     Salat       Yasser_AdDussary  14775.606526
10     Salat          Ahmed_AlAjamy  14942.703780
15     Salat        Nasser_Alqatami  15261.632598
8      Salat       Abdullah_Matroud  15839.475276
11     Salat        Akram_AlAlaqimy  15919.975276
5   Murattal    Mohammad_AlMinshawy  16370.334541
1   Mujawwad    Muhammad_AlTablaway  16810.870236
3   Murattal            Ahmed_Neana  17144.980157
12     Salat     Ali_Hajjaj_AlSuesy  17496.770709
2   Murattal  AbdulBasit_Abdessamad  17661.205039
6   Murattal        Muhammad_Ayyoob  18235.955615
4   Murattal       Mahmoud_AlHusary  24240.295007
0   Mujawwad  AbdulBasit_Abdessamad  34280.419436

In [32]:
mean_durations = final_dataset.groupby(
    ['telawa'],
    as_index=False)['duration'].mean().sort_values(by=['duration'])

mean_durations.rename(columns={'duration':'mean_duration'}, inplace=True)
mean_durations

             telawa  mean_duration
14  AshShuraym_Slah   10338.530217
7   AlJuhaynee_Slah   11557.633223
9      AlQasim_Slah   11723.616345
5     AlBudair_Slah   11884.885827
13    AsSudais_Slah   11979.044416
16    Bukhatir_Slah   13412.560436
11       Alili_Slah   14527.287874
2    AdDussary_Slah   14775.606526
3      AlAjamy_Slah   14942.703780
12    Alqatami_Slah   15261.632598
18     Matroud_Slah   15839.475276
4    AlAlaqimy_Slah   15919.975276
8   AlMinshawy_Mrtl   16370.334541
10  AlTablaway_Mjwd   16810.870236
19       Neana_Mrtl   17144.980157
17      Hajjaj_Slah   17496.770709
1   Abdessamad_Mrtl   17661.205039
15      Ayyoob_Mrtl   18235.955615
6     AlHusary_Mrtl   24240.295007
0   Abdessamad_Mjwd   34280.419436

In [33]:
median_durations = final_dataset.groupby(
    ['telawa'],
    as_index=False)['duration'].median().sort_values(by=['duration'])

median_durations.rename(columns={'duration':'median_duration'}, inplace=True)
median_durations

             telawa  median_duration
14  AshShuraym_Slah           8311.5
7   AlJuhaynee_Slah           8989.0
5     AlBudair_Slah           9457.5
9      AlQasim_Slah           9528.0
13    AsSudais_Slah           9611.0
16    Bukhatir_Slah          10677.0
2    AdDussary_Slah          11678.0
11       Alili_Slah          11767.5
3      AlAjamy_Slah          12124.0
12    Alqatami_Slah          12302.5
4    AlAlaqimy_Slah          12315.0
18     Matroud_Slah          12638.5
8   AlMinshawy_Mrtl          12814.0
10  AlTablaway_Mjwd          13527.0
1   Abdessamad_Mrtl          13919.0
19       Neana_Mrtl          14010.0
17      Hajjaj_Slah          14132.0
15      Ayyoob_Mrtl          14259.0
6     AlHusary_Mrtl          19409.0
0   Abdessamad_Mjwd          27250.0

In [34]:
#using python pandas lookup another dataframe and return corresponding values
# https://stackoverflow.com/a/17451067/5820024
means_dur = mean_durations.merge(median_durations)
relative_dataset = final_dataset.merge(means_dur)
relative_dataset

,qari_name,mushaf,telawa,sura_num,aya_num,duration,mean_duration,median_duration
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,0,9256,34280.419436,27250.0
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,1,10126,34280.419436,27250.0
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,2,8126,34280.419436,27250.0
3,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,3,7688,34280.419436,27250.0
4,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,4,13437,34280.419436,27250.0
...,...,...,...,...,...,...,...,...
126883,Yasser_AdDussary,Salat,AdDussary_Slah,1,3,7059,14775.606526,11678.0
126884,Yasser_AdDussary,Salat,AdDussary_Slah,1,4,6259,14775.606526,11678.0
126885,Yasser_AdDussary,Salat,AdDussary_Slah,1,5,6826,14775.606526,11678.0
126886,Yasser_AdDussary,Salat,AdDussary_Slah,1,6,2736,14775.606526,11678.0
126887,Yasser_AdDussary,Salat,AdDussary_Slah,1,7,14832,14775.606526,11678.0

In [35]:
relative_dataset['relative_duration_avg'] = relative_dataset[
    'duration'] / relative_dataset['mean_duration']

relative_dataset['relative_duration_med'] = relative_dataset[
    'duration'] / relative_dataset['median_duration']

relative_dataset

,qari_name,mushaf,telawa,sura_num,aya_num,duration,mean_duration,median_duration,relative_duration_avg,relative_duration_med
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,0,9256,34280.419436,27250.0,0.270008,0.339670
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,1,10126,34280.419436,27250.0,0.295387,0.371596
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,2,8126,34280.419436,27250.0,0.237045,0.298202
3,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,3,7688,34280.419436,27250.0,0.224268,0.282128
4,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,4,13437,34280.419436,27250.0,0.391973,0.493101
...,...,...,...,...,...,...,...,...,...,...
126883,Yasser_AdDussary,Salat,AdDussary_Slah,1,3,7059,14775.606526,11678.0,0.477747,0.604470
126884,Yasser_AdDussary,Salat,AdDussary_Slah,1,4,6259,14775.606526,11678.0,0.423604,0.535965
126885,Yasser_AdDussary,Salat,AdDussary_Slah,1,5,6826,14775.606526,11678.0,0.461978,0.584518
126886,Yasser_AdDussary,Salat,AdDussary_Slah,1,6,2736,14775.606526,11678.0,0.185170,0.234287
126887,Yasser_AdDussary,Salat,AdDussary_Slah,1,7,14832,14775.606526,11678.0,1.003817,1.270080

In [36]:
avg_duration = mean_durations.mean()
avg_duration = float(avg_duration)

med_duration = median_durations.median()
med_duration = float(med_duration)

In [37]:
relative_dataset['adjusted_avg'] = relative_dataset[
    'relative_duration_avg'] * avg_duration
relative_dataset['adjusted_med'] = relative_dataset[
    'relative_duration_med'] * med_duration

relative_dataset

,qari_name,mushaf,telawa,sura_num,aya_num,duration,mean_duration,median_duration,relative_duration_avg,relative_duration_med,adjusted_avg,adjusted_med
0,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,0,9256,34280.419436,27250.0,0.270008,0.339670,4379.586744,4180.909725
1,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,1,10126,34280.419436,27250.0,0.295387,0.371596,4791.237616,4573.886330
2,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,2,8126,34280.419436,27250.0,0.237045,0.298202,3844.913773,3670.491835
3,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,3,7688,34280.419436,27250.0,0.224268,0.282128,3637.668852,3472.648440
4,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,114,4,13437,34280.419436,27250.0,0.391973,0.493101,6357.876738,6069.455917
...,...,...,...,...,...,...,...,...,...,...,...,...
126883,Yasser_AdDussary,Salat,AdDussary_Slah,1,3,7059,14775.606526,11678.0,0.477747,0.604470,7749.144838,7440.269417
126884,Yasser_AdDussary,Salat,AdDussary_Slah,1,4,6259,14775.606526,11678.0,0.423604,0.535965,6870.930379,6597.059963
126885,Yasser_AdDussary,Salat,AdDussary_Slah,1,5,6826,14775.606526,11678.0,0.461978,0.584518,7493.364877,7194.684663
126886,Yasser_AdDussary,Salat,AdDussary_Slah,1,6,2736,14775.606526,11678.0,0.185170,0.234287,3003.493452,2883.776332
126887,Yasser_AdDussary,Salat,AdDussary_Slah,1,7,14832,14775.606526,11678.0,1.003817,1.270080,16282.096082,15633.103271

In [38]:
relative_dataset.to_csv(os.path.join(verses_path, 'Output',
                                     'telawas_relative_durations.CSV'),
                        index=False)

In [39]:
relative_duration_stats = relative_dataset.groupby(
    ['sura_num', 'aya_num'],
    as_index=False).agg(['median', 'std'])['adjusted_med'].reset_index()

relative_duration_stats

      sura_num  aya_num       median          std
0            1        0  4157.387937  2090.833974
1            1        1  4404.668278  1406.705822
2            1        2  5428.513431   969.708857
3            1        3  4100.241852  1188.167208
4            1        4  4109.343197  1023.896796
...        ...      ...          ...          ...
6352       114        2  3115.528646   901.285939
6353       114        3  3753.158838   886.146711
6354       114        4  6295.732749  1188.547018
6355       114        5  6386.361508  1254.570325
6356       114        6  5442.890674  1468.981775

[6357 rows x 4 columns]

In [40]:
relative_duration_stats.to_csv(os.path.join(verses_path, 'Output',
                                     'telawas_relative_durations_stats.CSV'),
                        index=False)

# Detecting outliers

In [46]:
s_num, a_num = 1, 2
spc = relative_dataset[(relative_dataset.sura_num == s_num)
                       & (relative_dataset.aya_num == a_num)]
spc

,qari_name,mushaf,telawa,sura_num,aya_num,duration,mean_duration,median_duration,relative_duration_avg,relative_duration_med,adjusted_avg,adjusted_med
9,AbdulBasit_Abdessamad,Mujawwad,Abdessamad_Mjwd,1,2,13626,34280.419436,27250.0,0.397486,0.500037,6447.304341,6154.826697
6351,AbdulBasit_Abdessamad,Murattal,Abdessamad_Mrtl,1,2,5207,17661.205039,13919.0,0.294827,0.374093,4782.149610,4604.616801
19032,Abdullaah_AlJuhaynee,Salat,AlJuhaynee_Slah,1,2,4893,11557.633223,8989.0,0.423357,0.544332,6866.923692,6700.046028
25095,Abdullah_Matroud,Salat,Matroud_Slah,1,2,5290,15839.475276,12638.5,0.333976,0.418562,5417.149179,5151.979072
25397,Abdurrahman_AsSudais,Salat,AsSudais_Slah,1,2,4454,11979.044416,9611.0,0.371816,0.463427,6030.925328,5704.211060
38081,Ahmed_AlAjamy,Salat,AlAjamy_Slah,1,2,4872,14942.703780,12124.0,0.326045,0.401848,5288.518235,4946.241339
44431,Ahmed_Neana,Murattal,Neana_Mrtl,1,2,5073,17144.980157,14010.0,0.295888,0.362099,4799.365102,4456.979925
44439,Akram_AlAlaqimy,Salat,AlAlaqimy_Slah,1,2,6201,15919.975276,12315.0,0.389511,0.503532,6317.936494,6197.852923
52414,Ali_Hajjaj_AlSuesy,Salat,Hajjaj_Slah,1,2,4850,17496.770709,14132.0,0.277194,0.343193,4496.139235,4224.273811
57139,Aziz_Alili,Salat,Alili_Slah,1,2,6564,14527.287874,11767.5,0.451839,0.557808,7328.919365,6865.913321
69830,Mahmoud_AlHusary,Murattal,AlHusary_Mrtl,1,2,6343,24240.295007,19409.0,0.261672,0.326807,4244.364996,4022.587524
69851,Mohammad_AlMinshawy,Murattal,AlMinshawy_Mrtl,1,2,5564,16370.334541,12814.0,0.339883,0.434213,5512.968112,5344.614094
76194,Muhammad_AlTablaway,Mujawwad,AlTablaway_Mjwd,1,2,6058,16810.870236,13527.0,0.360362,0.447845,5845.140933,5512.412767
82537,Muhammad_Ayyoob,Murattal,Ayyoob_Mrtl,1,2,6955,18235.955615,14259.0,0.381389,0.487762,6186.208047,6003.741935
95186,Muhsin_AlQasim,Salat,AlQasim_Slah,1,2,4032,11723.616345,9528.0,0.343921,0.423174,5578.466630,5208.740554
101536,Nasser_Alqatami,Salat,Alqatami_Slah,1,2,4481,15261.632598,12302.5,0.293612,0.364235,4762.443795,4483.276468
107865,Salaah_Bukhatir,Salat,Bukhatir_Slah,1,2,5310,13412.560436,10677.0,0.395898,0.497331,6421.533358,6121.519387
113056,Salah_AlBudair,Salat,AlBudair_Slah,1,2,5959,11884.885827,9457.5,0.501393,0.630082,8132.691253,7755.521147
120569,Saud_AshShuraym,Salat,AshShuraym_Slah,1,2,3538,10338.530217,8311.5,0.342215,0.425675,5550.791836,5239.530470
126882,Yasser_AdDussary,Salat,AdDussary_Slah,1,2,5943,14775.606526,11678.0,0.402217,0.508906,6524.035667,6263.992229

In [48]:
s_num, a_num = 1, 2
small_relative = relative_dataset[[
    'telawa',
    'sura_num',
    'aya_num',
    'duration',
    'mean_duration',
    'median_duration',
]]
spc = small_relative[(relative_dataset.sura_num == s_num)
                       & (relative_dataset.aya_num == a_num)]
spc

,telawa,sura_num,aya_num,duration,mean_duration,median_duration
9,Abdessamad_Mjwd,1,2,13626,34280.419436,27250.0
6351,Abdessamad_Mrtl,1,2,5207,17661.205039,13919.0
19032,AlJuhaynee_Slah,1,2,4893,11557.633223,8989.0
25095,Matroud_Slah,1,2,5290,15839.475276,12638.5
25397,AsSudais_Slah,1,2,4454,11979.044416,9611.0
38081,AlAjamy_Slah,1,2,4872,14942.703780,12124.0
44431,Neana_Mrtl,1,2,5073,17144.980157,14010.0
44439,AlAlaqimy_Slah,1,2,6201,15919.975276,12315.0
52414,Hajjaj_Slah,1,2,4850,17496.770709,14132.0
57139,Alili_Slah,1,2,6564,14527.287874,11767.5
69830,AlHusary_Mrtl,1,2,6343,24240.295007,19409.0
69851,AlMinshawy_Mrtl,1,2,5564,16370.334541,12814.0
76194,AlTablaway_Mjwd,1,2,6058,16810.870236,13527.0
82537,Ayyoob_Mrtl,1,2,6955,18235.955615,14259.0
95186,AlQasim_Slah,1,2,4032,11723.616345,9528.0
101536,Alqatami_Slah,1,2,4481,15261.632598,12302.5
107865,Bukhatir_Slah,1,2,5310,13412.560436,10677.0
113056,AlBudair_Slah,1,2,5959,11884.885827,9457.5
120569,AshShuraym_Slah,1,2,3538,10338.530217,8311.5
126882,AdDussary_Slah,1,2,5943,14775.606526,11678.0

In [69]:
cut_off = 2
name_dict = {
    'duration': 'dur_val',
    'mean_duration': 'dur_avg',
    'median_duration': 'dur_med'
}
# spc.assign(mean)
for field in name_dict:
    dur_mean = spc[field].mean()
    dur_std = spc[field].std()
    anomally_cutoff = cut_off * dur_std
    lower_bound = dur_mean - anomally_cutoff
    upper_bound = dur_mean + anomally_cutoff

    spc.loc[:][ name_dict[field]] = (spc[field] > lower_bound) & (spc[field] <
                                                          upper_bound)

spc=spc.assign(val_avg =    spc.dur_avg==spc.dur_val)
spc=spc.assign(val_med =    spc.dur_med==spc.dur_val)
spc

,telawa,sura_num,aya_num,duration,mean_duration,median_duration,dur_val,dur_avg,dur_med,val_avg,val_med
9,Abdessamad_Mjwd,1,2,13626,34280.419436,27250.0,False,False,False,True,True
6351,Abdessamad_Mrtl,1,2,5207,17661.205039,13919.0,True,True,True,True,True
19032,AlJuhaynee_Slah,1,2,4893,11557.633223,8989.0,True,True,True,True,True
25095,Matroud_Slah,1,2,5290,15839.475276,12638.5,True,True,True,True,True
25397,AsSudais_Slah,1,2,4454,11979.044416,9611.0,True,True,True,True,True
38081,AlAjamy_Slah,1,2,4872,14942.703780,12124.0,True,True,True,True,True
44431,Neana_Mrtl,1,2,5073,17144.980157,14010.0,True,True,True,True,True
44439,AlAlaqimy_Slah,1,2,6201,15919.975276,12315.0,True,True,True,True,True
52414,Hajjaj_Slah,1,2,4850,17496.770709,14132.0,True,True,True,True,True
57139,Alili_Slah,1,2,6564,14527.287874,11767.5,True,True,True,True,True
69830,AlHusary_Mrtl,1,2,6343,24240.295007,19409.0,True,True,True,True,True
69851,AlMinshawy_Mrtl,1,2,5564,16370.334541,12814.0,True,True,True,True,True
76194,AlTablaway_Mjwd,1,2,6058,16810.870236,13527.0,True,True,True,True,True
82537,Ayyoob_Mrtl,1,2,6955,18235.955615,14259.0,True,True,True,True,True
95186,AlQasim_Slah,1,2,4032,11723.616345,9528.0,True,True,True,True,True
101536,Alqatami_Slah,1,2,4481,15261.632598,12302.5,True,True,True,True,True
107865,Bukhatir_Slah,1,2,5310,13412.560436,10677.0,True,True,True,True,True
113056,AlBudair_Slah,1,2,5959,11884.885827,9457.5,True,True,True,True,True
120569,AshShuraym_Slah,1,2,3538,10338.530217,8311.5,True,True,True,True,True
126882,AdDussary_Slah,1,2,5943,14775.606526,11678.0,True,True,True,True,True

In [73]:
all(spc.dur_val)

False

In [76]:
spc[spc.dur_val==False]

,telawa,sura_num,aya_num,duration,mean_duration,median_duration,dur_val,dur_avg,dur_med,val_avg,val_med
9,Abdessamad_Mjwd,1,2,13626,34280.419436,27250.0,False,False,False,True,True

In [84]:
spc[(spc.dur_val==False) | (spc.val_med==False)]

,telawa,sura_num,aya_num,duration,mean_duration,median_duration,dur_val,dur_avg,dur_med,val_avg,val_med
9,Abdessamad_Mjwd,1,2,13626,34280.419436,27250.0,False,False,False,True,True

In [79]:
check = spc[spc.val_avg==False]
if check.shape[0]>0:
    display (check)

In [83]:
s_num=1
set(small_relative[small_relative.sura_num == s_num]['aya_num'])

{0, 1, 2, 3, 4, 5, 6, 7}

# The anomally detection algorithm

In [87]:
small_relative = relative_dataset[[
    'telawa',
    'sura_num',
    'aya_num',
    'duration',
    'mean_duration',
    'median_duration',
]]
name_dict = {
    'duration': 'dur_val',
    'mean_duration': 'dur_avg',
    'median_duration': 'dur_med'
}
problems=[]
cut_off = 2
for s_num in range(1, 115):
    ayat = set(small_relative[small_relative.sura_num == s_num]['aya_num'])
    for a_num in ayat:
        spc = small_relative[(relative_dataset.sura_num == s_num)
                             & (relative_dataset.aya_num == a_num)]
        for field in name_dict:
            dur_mean = spc[field].mean()
            dur_std = spc[field].std()
            anomally_cutoff = cut_off * dur_std
            lower_bound = dur_mean - anomally_cutoff
            upper_bound = dur_mean + anomally_cutoff
            spc[name_dict[field]]=0
            spc.loc[:][name_dict[field]] = (spc[field] > lower_bound) & (
                spc[field] < upper_bound)

        spc = spc.assign(val_avg=spc.dur_avg == spc.dur_val)
        spc = spc.assign(val_med=spc.dur_med == spc.dur_val)
        check = spc[(spc.val_avg==False) | (spc.val_med==False)]
        if check.shape[0]>0:
            display (check)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy