In [2]:
import os
import numpy as np
import pandas as pd
from collections import Counter

In [4]:
path = r'..\Datasets\Words'

In [5]:
df=pd.read_csv(os.path.join(path, 'QuranFullDataset7.csv'))

In [6]:
df.head()

,aya_serial_in_quran,sura_number,sura_name,aya_number_in_sura,aya_text_tashkeel,aya_text_plain,aya_text_uthmani,num_words_tashkeel,num_words_plain,num_words_uthmani,matchin_words_count,makkian_aya,Location
0,1,1,الفاتحة,1,بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ,بسم الله الرحمن الرحيم,بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,4,4,4,True,1,Makkah
1,2,1,الفاتحة,2,الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ,الحمد لله رب العالمين,ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ,4,4,4,True,1,Makkah
2,3,1,الفاتحة,3,الرَّحْمَنِ الرَّحِيمِ,الرحمن الرحيم,ٱلرَّحْمَٰنِ ٱلرَّحِيمِ,2,2,2,True,1,Makkah
3,4,1,الفاتحة,4,مَالِكِ يَوْمِ الدِّينِ,مالك يوم الدين,مَٰلِكِ يَوْمِ ٱلدِّينِ,3,3,3,True,1,Makkah
4,5,1,الفاتحة,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,إياك نعبد وإياك نستعين,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,4,4,4,True,1,Makkah

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6236 entries, 0 to 6235
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   aya_serial_in_quran  6236 non-null   int64
 1   sura_number          6236 non-null   int64
 2   sura_name            6236 non-null   object
 3   aya_number_in_sura   6236 non-null   int64
 4   aya_text_tashkeel    6236 non-null   object
 5   aya_text_plain       6236 non-null   object
 6   aya_text_uthmani     6236 non-null   object
 7   num_words_tashkeel   6236 non-null   int64
 8   num_words_plain      6236 non-null   int64
 9   num_words_uthmani    6236 non-null   int64
 10  matchin_words_count  6236 non-null   bool
 11  makkian_aya          6236 non-null   int64
 12  Location             6236 non-null   object
dtypes: bool(1), int64(7), object(5)
memory usage: 590.8+ KB

In [13]:
df.iloc[0]['aya_text_plain']

'بسم الله الرحمن الرحيم'

In [29]:
letters = []

for i in range(6236):
    aya_info = df.iloc[i]
    aya_text = aya_info['aya_text_plain']
    aya_text = aya_text.replace(u'\xa0',u' ')#.encode('utf-8')
#     aya_text = aya_text.replace(u'\u200e', u'')#.encode('utf-8')
    analysis = dict(Counter(aya_text))
    analysis['sura'] = aya_info['sura_number']
    analysis['aya'] = aya_info['aya_number_in_sura']
    letters.append(analysis)

In [30]:
ds = pd.DataFrame(letters)
ds.head()

,ب,س,م,,ا,ل,ه,ر,ح,ن,...,ز,آ,خ,ئ,ء,ش,ظ,ج,ث,‎
0,1.0,1.0,3.0,3.0,3.0,4.0,1.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,2.0,3.0,3.0,5.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2.0,1.0,2.0,2.0,NaN,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2.0,2.0,2.0,2.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,NaN,3.0,2.0,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
ds = ds.reindex(sorted(ds.columns), axis=1).fillna(0)

In [32]:
ds.head()

,,aya,sura,ء,آ,أ,ؤ,إ,ئ,ا,...,ق,ك,ل,م,ن,ه,و,ى,ي,‎
0,3.0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,4.0,3.0,1.0,1.0,0.0,0.0,1.0,0.0
1,3.0,2,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,5.0,2.0,1.0,1.0,0.0,0.0,1.0,0.0
2,1.0,3,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0
3,2.0,4,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,2.0,2.0,1.0,0.0,1.0,0.0,2.0,0.0
4,3.0,5,1,0.0,0.0,0.0,0.0,2.0,0.0,2.0,...,0.0,2.0,0.0,0.0,3.0,0.0,1.0,0.0,3.0,0.0

In [34]:
print(sorted(ds.columns))

[' ', 'aya', 'sura', 'ء', 'آ', 'أ', 'ؤ', 'إ', 'ئ', 'ا', 'ب', 'ة', 'ت', 'ث', 'ج', 'ح', 'خ', 'د', 'ذ', 'ر', 'ز', 'س', 'ش', 'ص', 'ض', 'ط', 'ظ', 'ع', 'غ', 'ف', 'ق', 'ك', 'ل', 'م', 'ن', 'ه', 'و', 'ى', 'ي', '\u200e']

In [35]:
del(ds['\u200e'])

In [36]:
print(sorted(ds.columns))

[' ', 'aya', 'sura', 'ء', 'آ', 'أ', 'ؤ', 'إ', 'ئ', 'ا', 'ب', 'ة', 'ت', 'ث', 'ج', 'ح', 'خ', 'د', 'ذ', 'ر', 'ز', 'س', 'ش', 'ص', 'ض', 'ط', 'ظ', 'ع', 'غ', 'ف', 'ق', 'ك', 'ل', 'م', 'ن', 'ه', 'و', 'ى', 'ي']

In [40]:
# sorted(ds.columns)
ds['sum_letters'] = ds.iloc[:, 3:].sum(axis=1)

In [41]:
ds['num_words'] = ds[' '] + 1

In [42]:
ds.head()

,,aya,sura,ء,آ,أ,ؤ,إ,ئ,ا,...,ك,ل,م,ن,ه,و,ى,ي,sum_letters,num_words
0,3.0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,4.0,3.0,1.0,1.0,0.0,0.0,1.0,19.0,4.0
1,3.0,2,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,5.0,2.0,1.0,1.0,0.0,0.0,1.0,18.0,4.0
2,1.0,3,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,2.0,2.0,1.0,0.0,0.0,0.0,1.0,12.0,2.0
3,2.0,4,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,2.0,2.0,1.0,0.0,1.0,0.0,2.0,12.0,3.0
4,3.0,5,1,0.0,0.0,0.0,0.0,2.0,0.0,2.0,...,2.0,0.0,0.0,3.0,0.0,1.0,0.0,3.0,19.0,4.0

In [43]:
ds['alef'] = ds['ا'] + ds['أ'] + ds['إ'] + ds['آ'] + ds['ى']
ds['hamza'] = ds['ء'] + ds['ؤ'] + ds['ئ'] + ds['آ'] 
ds['all_ta'] = ds['ة'] + ds['ت']

In [44]:
ds.head()

,,aya,sura,ء,آ,أ,ؤ,إ,ئ,ا,...,ن,ه,و,ى,ي,sum_letters,num_words,alef,hamza,all_ta
0,3.0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,1.0,1.0,0.0,0.0,1.0,19.0,4.0,3.0,0.0,0.0
1,3.0,2,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,1.0,1.0,0.0,0.0,1.0,18.0,4.0,3.0,0.0,0.0
2,1.0,3,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,0.0,0.0,0.0,1.0,12.0,2.0,2.0,0.0,0.0
3,2.0,4,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,0.0,1.0,0.0,2.0,12.0,3.0,2.0,0.0,0.0
4,3.0,5,1,0.0,0.0,0.0,0.0,2.0,0.0,2.0,...,3.0,0.0,1.0,0.0,3.0,19.0,4.0,4.0,0.0,1.0

In [66]:
def get_analysis(df, aya_column):
    letters = []

    for i in range(6236):
        aya_info = df.iloc[i]
        aya_text = aya_info[aya_column]
        aya_text = aya_text.replace(u'\xa0', u' ')  #.encode('utf-8')
        analysis = dict(Counter(aya_text))
        analysis['sura'] = aya_info['sura_number']
        analysis['aya'] = aya_info['aya_number_in_sura']
        letters.append(analysis)
    ds = pd.DataFrame(letters)
    ds = ds.reindex(sorted(ds.columns), axis=1).fillna(0)
    try:
        del (ds['\u200e'])
    except:
        pass
    ds['sum_letters'] = ds.iloc[:, 3:].sum(axis=1)
    ds['num_words'] = ds[' '] + 1

    # ds['alef'] = ds['ا'] + ds['أ'] + ds['إ'] + ds['آ'] + ds['ى']
    def safe_add(dataframe, cols, sum_name):
        dataframe[sum_name] = 0
        for a in cols:
            if a in dataframe.columns:
                dataframe[sum_name] = dataframe[sum_name] + dataframe[a]
    safe_add(ds, 'اأٱإٰآى', 'alef')
    safe_add(ds, 'ءٔئؤآ', 'hamza')
    safe_add(ds, 'ةت', 'all_ta')
    safe_add(ds, 'يۦ', 'all_ya')
    safe_add(ds, 'ۥو', 'all_waw')
    return ds

In [75]:
ds_plain = get_analysis(df, 'aya_text_plain')
ds_plain.head()

,,aya,sura,ء,آ,أ,ؤ,إ,ئ,ا,...,و,ى,ي,sum_letters,num_words,alef,hamza,all_ta,all_ya,all_waw
0,3.0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,1.0,19.0,4.0,3.0,0.0,0.0,1.0,0.0
1,3.0,2,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,1.0,18.0,4.0,3.0,0.0,0.0,1.0,0.0
2,1.0,3,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,12.0,2.0,2.0,0.0,0.0,1.0,0.0
3,2.0,4,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,0.0,2.0,12.0,3.0,2.0,0.0,0.0,2.0,1.0
4,3.0,5,1,0.0,0.0,0.0,0.0,2.0,0.0,2.0,...,1.0,0.0,3.0,19.0,4.0,4.0,0.0,1.0,3.0,1.0

In [76]:
ds_plain_per_sura = ds_plain.groupby(['sura']).sum().drop(['aya', ' '], axis=1)
ds_plain_per_sura

,ء,آ,أ,ؤ,إ,ئ,ا,ب,ة,ت,...,و,ى,ي,sum_letters,num_words,alef,hamza,all_ta,all_ya,all_waw
sura,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,1.0,0.0,2.0,0.0,23.0,4.0,0.0,3.0,...,4.0,0.0,14.0,143.0,29.0,26.0,0.0,3.0,14.0,4.0
2,125.0,126.0,657.0,47.0,389.0,94.0,3540.0,918.0,220.0,966.0,...,2058.0,208.0,1596.0,26245.0,6140.0,4920.0,392.0,1186.0,1596.0,2058.0
3,68.0,74.0,359.0,39.0,221.0,64.0,2004.0,574.0,103.0,554.0,...,1147.0,95.0,998.0,14984.0,3501.0,2753.0,245.0,657.0,998.0,1147.0
4,71.0,64.0,433.0,55.0,248.0,54.0,2263.0,478.0,117.0,560.0,...,1297.0,119.0,1123.0,16332.0,3763.0,3127.0,244.0,677.0,1123.0,1297.0
5,60.0,64.0,350.0,22.0,176.0,46.0,1712.0,394.0,88.0,391.0,...,919.0,81.0,844.0,12206.0,2837.0,2383.0,192.0,479.0,844.0,919.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1.0,0.0,2.0,0.0,2.0,0.0,13.0,4.0,0.0,4.0,...,6.0,0.0,4.0,80.0,19.0,17.0,1.0,4.0,4.0,6.0
111,0.0,0.0,3.0,0.0,0.0,0.0,11.0,8.0,1.0,5.0,...,3.0,2.0,5.0,81.0,23.0,16.0,0.0,6.0,5.0,3.0
112,0.0,0.0,2.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,5.0,0.0,3.0,47.0,15.0,6.0,0.0,0.0,3.0,5.0
113,0.0,0.0,1.0,0.0,2.0,0.0,10.0,3.0,0.0,1.0,...,5.0,0.0,1.0,73.0,23.0,13.0,0.0,1.0,1.0,5.0
114,0.0,0.0,1.0,0.0,1.0,0.0,16.0,2.0,1.0,0.0,...,7.0,0.0,3.0,80.0,20.0,18.0,0.0,1.0,3.0,7.0

In [77]:
ds_uthmani = get_analysis(df, 'aya_text_uthmani')

In [78]:
# for col in ds_uthmani.columns:
#     print(col)

In [79]:
ds_uthmani_per_sura = ds_uthmani.groupby(['sura']).sum().drop(['aya', ' '], axis=1)
ds_uthmani_per_sura

,ء,أ,ؤ,إ,ئ,ا,ب,ة,ت,ث,...,۫,۬,ۭ,sum_letters,num_words,alef,hamza,all_ta,all_ya,all_waw
sura,,,,,,,,,,,,,,,,,,,,,
1,0.0,1.0,0.0,2.0,0.0,5.0,4.0,0.0,3.0,0.0,...,0.0,0.0,0.0,263.0,29.0,28.0,0.0,3.0,14.0,4.0
2,251.0,641.0,47.0,389.0,74.0,1972.0,918.0,216.0,970.0,128.0,...,0.0,0.0,5.0,49406.0,6116.0,5391.0,408.0,1186.0,1444.0,2182.0
3,133.0,357.0,39.0,221.0,51.0,1028.0,574.0,100.0,557.0,52.0,...,0.0,0.0,1.0,28132.0,3481.0,3038.0,247.0,657.0,883.0,1176.0
4,126.0,429.0,55.0,248.0,45.0,1325.0,478.0,116.0,561.0,75.0,...,0.0,0.0,4.0,30456.0,3747.0,3367.0,248.0,677.0,1079.0,1350.0
5,123.0,345.0,25.0,176.0,32.0,912.0,394.0,87.0,392.0,59.0,...,0.0,0.0,0.0,22894.0,2804.0,2587.0,197.0,479.0,760.0,962.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1.0,2.0,0.0,2.0,0.0,8.0,4.0,0.0,4.0,0.0,...,0.0,0.0,0.0,151.0,19.0,18.0,1.0,4.0,3.0,7.0
111,0.0,3.0,0.0,0.0,0.0,9.0,8.0,1.0,5.0,0.0,...,0.0,0.0,1.0,157.0,23.0,20.0,0.0,6.0,3.0,5.0
112,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,91.0,15.0,6.0,0.0,0.0,3.0,6.0
113,0.0,1.0,0.0,2.0,0.0,5.0,3.0,0.0,1.0,1.0,...,0.0,0.0,0.0,136.0,23.0,14.0,0.0,1.0,0.0,5.0
114,0.0,1.0,0.0,1.0,0.0,7.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,145.0,20.0,21.0,0.0,1.0,1.0,7.0

In [80]:
ds_tashkeel = get_analysis(df, 'aya_text_tashkeel')
ds_tashkeel_per_sura = ds_tashkeel.groupby(['sura']).sum().drop(['aya', ' '], axis=1)
display(ds_tashkeel, ds_tashkeel_per_sura)

,,aya,sura,ء,آ,أ,ؤ,إ,ئ,ا,...,ِ,ّ,ْ,sum_letters,num_words,alef,hamza,all_ta,all_ya,all_waw
0,3.0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,6.0,3.0,2.0,34.0,4.0,3.0,0.0,0.0,1.0,0.0
1,3.0,2,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,4.0,2.0,3.0,34.0,4.0,3.0,0.0,0.0,1.0,0.0
2,1.0,3,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,3.0,2.0,1.0,21.0,2.0,2.0,0.0,0.0,1.0,0.0
3,2.0,4,1,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,5.0,1.0,1.0,21.0,3.0,2.0,0.0,0.0,2.0,1.0
4,3.0,5,1,0.0,0.0,0.0,0.0,2.0,0.0,2.0,...,3.0,2.0,2.0,37.0,4.0,4.0,0.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6231,1.0,2,114,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,3.0,1.0,0.0,14.0,2.0,2.0,0.0,0.0,0.0,0.0
6232,1.0,3,114,0.0,0.0,0.0,0.0,1.0,0.0,2.0,...,3.0,1.0,0.0,14.0,2.0,3.0,0.0,0.0,0.0,0.0
6233,3.0,4,114,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,4.0,2.0,4.0,32.0,4.0,4.0,0.0,0.0,0.0,2.0
6234,4.0,5,114,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,5.0,2.0,1.0,35.0,5.0,3.0,0.0,0.0,3.0,3.0
6235,2.0,6,114,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,4.0,2.0,1.0,24.0,3.0,3.0,0.0,1.0,0.0,1.0

,ء,آ,أ,ؤ,إ,ئ,ا,ب,ة,ت,...,ِ,ّ,ْ,sum_letters,num_words,alef,hamza,all_ta,all_ya,all_waw
sura,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,1.0,0.0,2.0,0.0,23.0,4.0,0.0,3.0,...,31.0,14.0,21.0,260.0,29.0,26.0,0.0,3.0,14.0,4.0
2,125.0,126.0,657.0,47.0,389.0,94.0,3540.0,918.0,220.0,966.0,...,3533.0,1553.0,3478.0,48228.0,6140.0,4920.0,392.0,1186.0,1596.0,2058.0
3,68.0,74.0,359.0,39.0,221.0,64.0,2004.0,574.0,103.0,554.0,...,2211.0,953.0,2003.0,27570.0,3501.0,2753.0,245.0,657.0,998.0,1147.0
4,71.0,64.0,433.0,55.0,248.0,54.0,2263.0,478.0,117.0,560.0,...,2264.0,890.0,2082.0,29750.0,3763.0,3127.0,244.0,677.0,1123.0,1297.0
5,60.0,64.0,350.0,22.0,176.0,46.0,1712.0,394.0,88.0,391.0,...,1624.0,725.0,1627.0,22333.0,2837.0,2383.0,192.0,479.0,844.0,919.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,1.0,0.0,2.0,0.0,2.0,0.0,13.0,4.0,0.0,4.0,...,12.0,7.0,11.0,148.0,19.0,17.0,1.0,4.0,4.0,6.0
111,0.0,0.0,3.0,0.0,0.0,0.0,11.0,8.0,1.0,5.0,...,6.0,3.0,8.0,149.0,23.0,16.0,0.0,6.0,5.0,3.0
112,0.0,0.0,2.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,1.0,3.0,7.0,89.0,15.0,6.0,0.0,0.0,3.0,5.0
113,0.0,0.0,1.0,0.0,2.0,0.0,10.0,3.0,0.0,1.0,...,18.0,7.0,7.0,140.0,23.0,13.0,0.0,1.0,1.0,5.0
114,0.0,0.0,1.0,0.0,1.0,0.0,16.0,2.0,1.0,0.0,...,22.0,10.0,7.0,145.0,20.0,18.0,0.0,1.0,3.0,7.0

In [83]:
names = [
    'ds_plain', 'ds_plain_per_sura', 'ds_tashkeel', 'ds_tashkeel_per_sura',
    'ds_uthmani', 'ds_uthmani_per_sura'
]

for i, dtfr in enumerate([
        ds_plain, ds_plain_per_sura, ds_tashkeel, ds_tashkeel_per_sura,
        ds_uthmani, ds_uthmani_per_sura
]):
    dtfr.to_csv(os.path.join(path, f'{names[i]}.csv'),encoding='utf-8-sig')
    print(f'The dataset {names[i]}.csv was exported successfully')

The dataset ds_plain.csv was exported successfully
The dataset ds_plain_per_sura.csv was exported successfully
The dataset ds_tashkeel.csv was exported successfully
The dataset ds_tashkeel_per_sura.csv was exported successfully
The dataset ds_uthmani.csv was exported successfully
The dataset ds_uthmani_per_sura.csv was exported successfully