In [1]:
import numpy as np

In [2]:
z = np.array([[5, 9, 8], [9, 0, 6]])

In [4]:
z[0:,1:]

array([[9, 8],
       [0, 6]])

In [6]:
x=[9, 2, 8, 4, 5]

In [7]:
x.remove(9)

In [8]:
x

[2, 8, 4, 5]

In [9]:
x2=['a', 'b'*2,'3']
x2

['a', 'bb', '3']

In [12]:
list('MayBe')

['M', 'a', 'y', 'B', 'e']

In [13]:
from collections import Counter

In [14]:
c=Counter('Antidistablishminenterialism')

In [15]:
c

Counter({'A': 1,
         'n': 3,
         't': 3,
         'i': 6,
         'd': 1,
         's': 3,
         'a': 2,
         'b': 1,
         'l': 2,
         'h': 1,
         'm': 2,
         'e': 2,
         'r': 1})

In [16]:
# لنرى هل ستحتسب اللغة الحروف الوسطى بخلاف الأخيرة بخلاف الأولى أم لا
c2=Counter('حلحل المسألة فتم مراده')

In [17]:
c2

Counter({'ح': 2,
         'ل': 4,
         ' ': 3,
         'ا': 2,
         'م': 3,
         'س': 1,
         'أ': 1,
         'ة': 1,
         'ف': 1,
         'ت': 1,
         'ر': 1,
         'د': 1,
         'ه': 1})

In [18]:
# الحمد لله، وجدناها تحلل الحرف بغض النظر عن مكانه مثل الميم واللام
# ولكن التاء المبسوطة غير التاء المربوطة
# والألف المهموزة مختلفة عن غير المهموزة

In [19]:
dict(c2)

{'ح': 2,
 'ل': 4,
 ' ': 3,
 'ا': 2,
 'م': 3,
 'س': 1,
 'أ': 1,
 'ة': 1,
 'ف': 1,
 'ت': 1,
 'ر': 1,
 'د': 1,
 'ه': 1}

In [20]:
c3= dict(Counter('ألا له الخلق والأمر، تبارك الله رب العالمين'))
c3

{'أ': 2,
 'ل': 9,
 'ا': 7,
 ' ': 7,
 'ه': 2,
 'خ': 1,
 'ق': 1,
 'و': 1,
 'م': 2,
 'ر': 3,
 '،': 1,
 'ت': 1,
 'ب': 2,
 'ك': 1,
 'ع': 1,
 'ي': 1,
 'ن': 1}

In [21]:
import pandas as pd

In [22]:
df=pd.DataFrame([c2,c3])

In [23]:
df

,ح,ل,,ا,م,س,أ,ة,ف,ت,...,ه,خ,ق,و,،,ب,ك,ع,ي,ن
0,2.0,4,3,2,3,1.0,1,1.0,1.0,1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,9,7,7,2,NaN,2,NaN,NaN,1,...,2,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0

In [24]:
df.fillna(0)

,ح,ل,,ا,م,س,أ,ة,ف,ت,...,ه,خ,ق,و,،,ب,ك,ع,ي,ن
0,2.0,4,3,2,3,1.0,1,1.0,1.0,1,...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,9,7,7,2,0.0,2,0.0,0.0,1,...,2,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0

In [27]:
df.reindex(sorted(df.columns), axis=1).fillna(0)

,,،,أ,ا,ب,ة,ت,ح,خ,د,...,ع,ف,ق,ك,ل,م,ن,ه,و,ي
0,3,0.0,1,2,0.0,1.0,1,2.0,0.0,1.0,...,0.0,1.0,0.0,0.0,4,3,0.0,1,0.0,0.0
1,7,1.0,2,7,2.0,0.0,1,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,9,2,1.0,2,1.0,1.0